body {
  margin:0;
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 30px 32px;
  text-decoration: none;
  font-size: 17px;
}

.navbar button {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 30px 32px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%; 
}

.main-title {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  margin-left: 10%;
}

.title {
  font-size: 60px;
  text-transform: uppercase;
}

.sub-title {
  font-size: 30px;
}

.img-description {
  font-size: 30px;
  margin-left: 20%;
  margin-right: 10%;
}

.paragraph {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.paragraph-description {
  display: flex;
  flex-direction: column;
}

.paragraph-title {
  font-size: 50px;
}

.sub-title-paragraph {
  font-size: 25px;
}

.img-paragraph {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 10%;
}