.title {
    text-transform: uppercase;
    font-size: 60px;
    font-style: bolder;
}

.nav-items {
  margin: 0px;
}

.button-header {
  border-radius: 25px;
}

.distance-top {
  margin-top: 180px;
}

.sub-title {
    font-size: 30px;
  }

  .img-description {
      font-weight: bold;
      font-size: 25px;
  }

  .paragraph-title {
    font-size: 50px;
  }

  .sub-title-paragraph {
    font-size: 20px;
  }

  .box {
    border: solid;
    border-radius: 20px;
    border-color: lightgray;
    margin-top: 20px;
    padding: 10px;
  }

  .box.box-green {
    border-color: green;
  }
  
  
  .underline-big {
    text-decoration: underline;
    font-size: 60px;
  }

  .underline-small {
    text-decoration: underline;
/*     font-size: 60px;
 */  }

  .padding-dark {
    padding: 150px;
  }

  @media only screen and (max-width: 600px) {
    .padding-dark {
      padding: 20px;
    }
  }